@use './variaveis' as *;

.barra{
    background-color: $principal;
    color:$background;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    width: 100vw;

    ul{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        gap:20px;
        padding: 20px;

    }
    li{
        list-style: none;
        
    }

    a{
        text-decoration: none;
        color: white;
    }

}