$background: #f5f3f3;
$principal: #0d1b2a;
$cor-secundaria: #415a77;
$cor-destaque:#1b263b;
$borda-arrendondada: 6px;
$font-texto: 10px;
$font-principal: 'Verdana';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-principal;
}
